[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm install || true",
  "cd server && npm install",
  "cd ../client && npm install"
]

[phases.build]
cmds = [
  "cd server && npx prisma generate",
  "cd ../client && npm run build"
]

[start]
cmd = "cd server && npm start"
